In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [4]:
import os

In [5]:
url = 'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv'

In [6]:
csv_name = 'tax_zone_lookup_output.csv'

In [7]:
 os.system(f"wget {url} -O {csv_name}")

--2024-01-25 18:24:32--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.194.224, 52.217.230.24, 52.216.32.80, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.194.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘tax_zone_lookup_output.csv’

     0K .......... ..                                         100% 34.4M=0s

2024-01-25 18:24:33 (34.4 MB/s) - ‘tax_zone_lookup_output.csv’ saved [12322/12322]

0

In [7]:
df = pd.read_csv(csv_name, nrows=100)

In [8]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
tableName = 'taxi_zones'

In [12]:
#df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
#df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [13]:
print(pd.io.sql.get_schema(df, name=tableName, con=engine))

CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [39]:
df_iter = pd.read_csv(csv_name, iterator=True,chunksize=100000)

In [42]:
df = next(df_iter)

StopIteration:

In [43]:
len(df)

265

In [17]:
    #df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    #df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime )

In [18]:
df.head(n=0).to_sql(name=tableName,con=engine,if_exists='replace')

0

In [19]:
%time df.to_sql(name=tableName,con=engine,if_exists='append')

CPU times: user 12.4 ms, sys: 0 ns, total: 12.4 ms
Wall time: 26.5 ms

265

In [20]:
from time import time

In [21]:
while True:
    t_start = time()
    
    df = next(df_iter)

    #df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    #f.lpep_dropoff_datetime= pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name=tableName,con=engine,if_exists='append')

    t_end = time()
    
    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

StopIteration: