In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("spark://127.0.0.1:7077") \
    .appName('test') \
    .getOrCreate()

24/02/26 17:16:54 WARN SparkContext: Another SparkContext is being constructed (or threw an exception in its constructor). This may indicate an error, since only one SparkContext should be running in this JVM (see SPARK-2243). The other SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.base/java.lang.Thread.run(Thread.java:834)

In [5]:
spark

In [6]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [7]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [10]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [25]:
common_columns = ['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [16]:
from pyspark.sql import functions as F

In [17]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [18]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [19]:
df_trips_data = df_yellow_sel.unionAll(df_green_sel)

In [22]:
df_trips_data.registerTempTable('trips_data')

/workspaces/GabrielZoomcamp2024/week_5_batch_processing/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [23]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [24]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          85|2020-01-01 00:00:00|      yellow|  12935.399999999974|               1011.0|                  199.5|                     45.69|           607.6500000000003|                   152.39999999999927|          14972.239999999994|                                 7.5|                    1.2125|       5.126627450980393|
|          67|2020-01-01 00:00:00|      yellow|   3885.500000000001|                223.0|                   61.0|                     95.47|          216.85000000000002|                    42.90000000000006|          4562.5199999999995|                                40.0|        1.4078947368421053|       5.574755244755246|
|         114|2020-01-01 00:00:00|      yellow|   846659.2700000003|              96382.2|                39104.0|          164778.930000005|          3837.6899999999814|                   23529.599999989692|            1305615.44000008|                            195187.5|        1.5695355832815059|      2.3266208749429698|
|          15|2020-01-01 00:00:00|      yellow|   4169.340000000001|                187.0|                   63.0|        17.740000000000002|                      263.16|                    42.90000000000006|           4743.139999999999|                                 0.0|        1.0121951219512195|       5.763851351351351|
|          14|2020-01-01 00:00:00|      yellow|   20662.51000000001|               891.75|                  294.0|                    661.95|           962.5100000000004|                    202.7999999999988|          23777.519999999982|                                72.5|        1.2444987775061125|       6.243197674418604|
|          47|2020-01-01 00:00:00|      yellow|   7626.519999999999|                549.5|                  133.0|        52.019999999999996|          330.48000000000013|                    92.69999999999983|           8797.570000000009|                                12.5|        1.4388489208633093|      4.9395569620253195|
|         247|2020-01-01 00:00:00|      yellow|  14046.810000000001|               688.75|                  341.5|                    570.83|           516.6300000000002|                   228.29999999999856|          16512.870000000046|                               137.5|        1.4366666666666668|       3.781741357234314|
|         251|2020-01-01 00:00:00|      yellow|   593.6500000000001|                19.25|                    4.5|                       0.0|                      202.24|                                  2.7|                      822.34|                                 0.0|                       1.0|      26.733333333333334|
|         133|2020-01-01 00:00:00|      yellow|              9246.8|               474.25|                  177.5|         487.1600000000001|           563.4300000000002|                   122.09999999999955|          11229.090000000015|                                95.0|        1.5604395604395604|       4.473135391923989|
|         138|2020-01-01 00:00:00|      yellow|   3870864.080000001|   107107.65000000005|                65172.5|         714397.3300000039|           502990.7199997479|                    39478.19999995101|           5433717.979998621|                            197935.0|        1.4881756756756757|       8.866749046276324|
|         141|2020-01-01 00:00:00|      yellow|  1500311.8099999987|   175565.55000000005|                78842.5|         277556.1400000081|          12447.759999999847|                    47449.49999993168|           2355028.060001623|                            392384.0|         1.497555004511411|      1.9089843666513784|
|          97|2020-01-01 00:00:00|      yellow|   65334.59000000007|              3697.55|                 2124.0|         6488.820000000002|           352.9400000000001|                   1325.6999999999816|           81182.15000000031|                              2762.5|        1.4893827160493827|      3.3566172839506163|
|         141|2019-12-01 00:00:00|      yellow|                59.0|                  2.0|                    2.0|                      4.66|                         0.0|                                  1.2|                       78.86|                                10.0|                      1.25|      3.9274999999999998|
|         162|2019-12-01 00:00:00|      yellow|                26.0|                  1.5|                    1.5|                      9.84|                         0.0|                   0.8999999999999999|                       47.24|                                 7.5|                       2.2|                   1.062|
|          84|2020-01-01 00:00:00|      yellow|               234.0|                  0.0|                    2.0|                       0.0|                        6.12|                                  1.2|                      243.32|                                 0.0|                       1.0|                   18.63|
|          26|2020-01-01 00:00:00|      yellow|  12008.139999999985|                916.5|                  225.0|                     47.48|          482.21000000000015|                   153.89999999999924|           13844.08000000001|                                 7.5|        1.3083700440528634|       4.064198473282444|
|         132|2008-12-01 00:00:00|      yellow|               261.0|                  1.0|                    3.5|                     12.28|                       12.24|                   2.0999999999999996|                      302.12|                                 7.5|         2.142857142857143|      13.135714285714284|
|         217|2020-01-01 00:00:00|      yellow|   7599.129999999995|               494.55|                  180.0|        397.65000000000003|          128.14999999999998|                   125.69999999999952|           8987.930000000015|                                90.0|        1.3420195439739413|       3.253967136150235|
|         185|2020-01-01 00:00:00|      yellow|   7222.039999999995|               450.25|                  110.0|         66.99000000000001|           397.2800000000002|                    78.29999999999997|           8342.110000000004|                                 7.5|         1.353448275862069|       5.348181818181818|
|          44|2020-01-01 00:00:00|      yellow|             1437.92|                  6.0|                   18.5|                      1.66|                       73.44|                   11.099999999999998|          1548.6199999999997|                                 0.0|        0.9743589743589743|      11.743658536585366|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [44]:
df_result.coalesce(1) \
    .write.parquet('data/report/revenue/', mode='overwrite')